body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff; /* Biru untuk tema transportasi */
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: white;
}
